

@media (max-width: 1350px) {

.floating-contact-container-wrapper {
    padding: 80px 40px;
    width: 400px;
}

.main-content-header {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
}

.line-desktop {
   display: none;
}

.line-mobile {
    display: block;
    height: 2px;
    width: 100px;
}

.contacts-content,
.contacts-first-letter,
.single-contact {
    padding: 10px;
}

.contacts-separator {
    width: 100%;
}

.floating-contact-header {
    gap: 32px;
}

.floating-full-name {
    font-size: 40px;;
}

.floating-initials-wrapper {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

.floating-initials {
    font-size: 40px;
}
}

@media (max-width: 1200px) {
    



/* LOGIN */
/* SIGN UP */
/* SIGN UP */
/* SUMMARY */
/* ADD TASK */
.main-container {
    overflow: hidden;
}

.add-task-content {
    width: 100%;
    max-width: 978px;
    padding: 0 clamp(1rem, 4vw, 6rem);
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1200px;
}
/* ADD/EDIT TASKS OVERLAY */
/* CONTACTS */

.add-contact-button {
    width: 280px;
}
.contact-container-wrapper {
    width: 380px;
}

.single-contact {
    gap : 20px;
    height: auto;
}

.floating-contact-container-wrapper {
    padding: 80px 20px;
}
/* CONTACTS FLOAT */

/* .floating-contact-container-wrapper,
.contacts-container-wrapper {
    display: flex;
} */

/* CONTACTS EDIT/ADD */
/* HELP */
/* PRIVACY */
/* LEGAL NOTICE */


/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

}