

@media (max-width: 1350px) {
    
    /* GLOBAL */

   

    /* LOGIN */
    /* SIGN UP */
    /* SIGN UP */


    /* SUMMARY */

    .welcome-text-summary {
      font-size: 47px;
    }

    .welcome-name-summary {
      font-size: 61px;
    }

    /* ADD TASK */
    .info-input-field-container {
      gap: 0;
  }
    /* ADD/EDIT TASKS OVERLAY */
    /* CONTACTS */


    /* CONTACTS FLOAT */

.floating-contact-container-wrapper {
    padding: 80px 40px;
}

.main-content-header {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
}

.line-desktop {
   display: none;
}

.line-mobile {
    display: block;
    height: 2px;
    width: 100px;
}

.contacts-content,
.contacts-first-letter,
.single-contact {
    padding: 10px;
}

.contacts-separator {
    width: 100%;
}

.floating-contact-header {
    gap: 32px;
}

.floating-full-name {
    font-size: 40px;;
}

.floating-initials-wrapper {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

.floating-initials {
    font-size: 40px;
}
}


/* CONTACTS EDIT/ADD */

/* .add-contact-overlay-content-left {
    padding: 66px 24px;
} */

.add-contact-overlay-content-right {
    padding-right: 24px;
    width: 700px;
}

.add-contact-overlay-img-wrapper {
    margin: 0 24px 38px 60px;
}

/* HELP */
/* PRIVACY */
/* LEGAL NOTICE */




@media (max-width: 1200px) {
    
/* GLOBAL */


.main-content-summary {
  padding: 80px;
}

/* LOGIN */
/* SIGN UP */
/* SIGN UP */

/* SUMMARY */

.bottom-top-summary,
.bottom-middle-summary,
.bottom-end-summary {
  width: 450px;
}


/* ADD TASK */
.info-input-field-container {
  display: flex;
  gap: 10px;
  max-width: 1000px;
}


/* CONTACTS FLOAT */

.floating-contact-container-wrapper {
    padding: 80px 40px;
}


/* CONTACTS EDIT/ADD */

.add-contact-overlay-img-wrapper {
    display: none;
}

.add-contact-overlay-content-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 540px;
}

.add-contact-formular-wrapper {
    padding-right: 28px;
}



/* HELP */
/* PRIVACY */
/* LEGAL NOTICE */
}


/* addtask */
@media (min-width: 1025px) and (max-width: 1350px) {
  .main-content {
    padding: 20px 48px 64px 48px;
    overflow-x: hidden;
  }

  .add-task-header {
    font-size: 48px;
    margin-bottom: 32px;
  }

  .info-input-field-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
  }

  .info-input-field-container-left,
  .info-input-field-container-right {
    width: 48%;
  }

  .add-task-separator {
    width: 1px;
    height: auto;
    background-color: var(--input-border);
  }

  .add-task-form-content {
    gap: 48px;
  }

  .addTask-input-field,
  .info-input-field-container textarea {
    font-size: 18px;
    padding: 10px 16px;
  }

  .btn-importance-container label {
    width: 100%;
    height: 48px;
    font-size: 18px;
  }

  .prio-button {
    font-size: 18px;
    padding: 12px;
  }

  .add-task-footer {
    max-width: 100%;
    padding-top: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .addTask-button-container {
    gap: 12px;
  }

  .dark-button,
  .light-button {
    font-size: 18px;
    padding: 10px 16px;
  }

  .addTask-button-container img {
    width: 16px;
    height: 16px;
  }

  .header-container {
    padding: 0 48px;
    gap: 16px;
    flex-wrap: nowrap;
  }
}

  
/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

