

@media (max-width: 1350px) {
  
    .welcome-text-summary {
      font-size: 47px;
    }

    .welcome-name-summary {
      font-size: 61px;
    }

    .info-input-field-container {
      gap: 0;
  }

.floating-contact-container-wrapper {
    padding: 80px 40px;
}

.main-content-header {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
}

.line-desktop {
   display: none;
}

.line-mobile {
    display: block;
    height: 2px;
    width: 100px;
}


.contacts-content,
.contacts-first-letter,
.single-contact {
    padding: 10px;
}

.contacts-separator {
    width: 100%;
}

.floating-contact-header {
    gap: 32px;
}

.floating-full-name {
    font-size: 40px;
}

.floating-initials-wrapper {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

.floating-initials {
    font-size: 40px;
}
}


@media (max-width: 1200px) {

.main-content-summary,
.main-content {
  padding: 40px;
}

.add-task-footer {
  left: 40px;
  bottom: 20px;
  right: 40px;
}

.main-content-contacts {
  padding: 0;
}

.bottom-top-summary,
.bottom-middle-summary,
.bottom-end-summary {
  width: 450px;
}

.info-input-field-container {
  gap: 10px;
}

.board-task-header-container span {
  font-size: 16px;
}

.contact-container-wrapper {
  min-width: 360px;
}

.add-contact-button-desktop {
  width: 300px;
}

.floating-contact-container-wrapper {
    padding: 40px 0 40px 40px;
}

.add-contact-overlay-img-wrapper {
    display: none;
}

.add-contact-overlay-content-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 540px;
}

.add-contact-formular-wrapper {
    padding-right: 28px;
}
}


@media (max-width: 1350px) {

  .info-input-field-container-edit-task-overlay {
    min-width: auto;
  }

  .add-task-header {
    margin-bottom: 32px;
  }

  .info-input-field-container {
    gap: 32px;
  }

  .info-input-field-container-left,
  .info-input-field-container-right {
    width: 48%;
  }

  .add-task-form-content {
    gap: 48px;
  }

  .header-container {
    padding: 0 48px;
    gap: 16px;
    flex-wrap: nowrap;
  }
}


@media (max-width: 1200px) {
  .add-task-overlay {
    min-width: 430px;
  }
}


@media (max-width: 1150px) {

  .bottom-board {
    gap: 8px;
  }

  .main-content,
  .main-content-summary {
    padding: 20px;
  }

  .main-content-contacts {
    padding: 0;
  }

  .floating-contact-container-wrapper {
    padding: 20px;
  }
}