

@media (max-width: 1350px) {
    
    /* GLOBAL */
    /* LOGIN */
    /* SIGN UP */
    /* SIGN UP */
    /* SUMMARY */

    .welcome-text-summary {
      font-size: 47px;
    }

    .welcome-name-summary {
      font-size: 61px;
    }

    /* ADD TASK */
    .info-input-field-container {
      gap: 0;
  }
    /* ADD/EDIT TASKS OVERLAY */
    /* CONTACTS */
    /* CONTACTS FLOAT */

.floating-contact-container-wrapper {
    padding: 80px 40px;
}


.main-content-header {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
}

.line-desktop {
   display: none;
}

.line-mobile {
    display: block;
    height: 2px;
    width: 100px;
}

.add-task-footer {
  left: 272px;
}

.contacts-content,
.contacts-first-letter,
.single-contact {
    padding: 10px;
}

.contacts-separator {
    width: 100%;
}

.floating-contact-header {
    gap: 32px;
}

.floating-full-name {
    font-size: 40px;
}

.floating-initials-wrapper {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

.floating-initials {
    font-size: 40px;
}
}


/* CONTACTS EDIT/ADD */

.add-contact-overlay-content-right {
    padding-right: 24px;
    width: 700px;
}

.add-contact-overlay-img-wrapper {
    margin: 0 24px 38px 60px;
}

.add-task-footer-overlay {
  left: 60px;
}
/* HELP */
/* PRIVACY */
/* LEGAL NOTICE */




@media (max-width: 1200px) {
    
/* GLOBAL */

.main-content-summary,
.main-content {
  padding: 40px;
}

.main-content-contacts {
  padding: 0;
}


/* LOGIN */
/* SIGN UP */
/* SIGN UP */
/* SUMMARY */

.bottom-top-summary,
.bottom-middle-summary,
.bottom-end-summary {
  width: 450px;
}


/* ADD TASK */
.info-input-field-container {
  gap: 10px;
}


/* BOARD */

.board-task-header-container span {
  font-size: 16px;
}


/* CONTACTS FLOAT */

.contact-container-wrapper {
  min-width: 360px;
}

.add-contact-button-desktop {
  width: 300px;
}

.floating-contact-container-wrapper {
    padding: 40px 0 40px 40px;
}


/* CONTACTS EDIT/ADD */

.add-contact-overlay-img-wrapper {
    display: none;
}

.add-contact-overlay-content-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 540px;
}

.add-contact-formular-wrapper {
    padding-right: 28px;
}



/* HELP */
/* PRIVACY */
/* LEGAL NOTICE */
}


/* addtask */
@media (max-width: 1350px) {

  .add-task-overlay {
    min-width: 90vw;
  }

  .add-task-footer-overlay {
    width: auto;
    min-width: 80vw
  }

  .info-input-field-container {
    min-width: 80vw;
  }

  .add-task-header {
    margin-bottom: 32px;
  }

  .info-input-field-container {
    gap: 32px;
  }

  .info-input-field-container-left,
  .info-input-field-container-right {
    width: 48%;
  }

  .add-task-form-content {
    gap: 48px;
  }

  .header-container {
    padding: 0 48px;
    gap: 16px;
    flex-wrap: nowrap;
  }
}


@media (max-width: 1200px) {
  .add-task-overlay {
    min-width: 430px;
  }
}

  
/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media (max-width: 1150px) {

  .bottom-board {
    gap: 8px;
  }

  .main-content,
  .main-content-summary {
    padding: 20px;
  }

  .main-content-contacts {
    padding: 0;
  }

  .floating-contact-container-wrapper {
    padding: 20px;
  }

}