@media (max-width: 480px) {
  .login-input-field {
    width: auto;
    font-size: 14px;
  }

  .input-wrapper input {
    font-size: 14px;
  }

  .mobile-navbar {
    padding: 0 0px;
  }

  .main-content-board {
    padding: 8px;
  }

  .main-content-addtask {
    padding: 8px;
  }

  .btn-importance-container {
    flex-wrap: wrap;
  }

  .add-task-button-container {
    gap: 16px;
  }

  .btn-importance-container {
    justify-content: center;
  }

  .btn-importance-container label {
    width: 100%;
    max-width: 282px;
  }

  .floating-contact-container-wrapper {
    padding: 8px;
  }

  .contacts-content {
    padding: 8px 0 8px 8px;
  }

  .task-overlay-container {
    max-height: 98dvh;
    max-width: 98vw;
    padding: 0;
  }

  .single-contact {
    padding: 10px 0;
  }

  .contact-overlay-alert {
    width: 200px;
  }

  .add-contact-overlay-form {
    width: 100%;
  }
}

/* @media (max-width: 320px) {
  h1 {
    font-size: 47px;
  }
}


@media (max-width: 340px) {
  .addTask-button-container button,
  .btns-addtask {
    font-size: 16px !important;
    font-weight: 600;
  }

  .clear-icon {
    width: 12px;
    height: 12px;
  }

  .btns-addtask img {
    width: 22px;
    height: 22px;
  }
} */
