


@media (max-width: 480px) {

    /* GLOBAL */
    h1 {
        font-size: 47px;
        padding: 20px 0;
    }
    /* LOGIN */
    @keyframes main-logo {
        0% {top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100px; height: 122px;}
        40% {top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100px; height: 122px;}
        100% {top: 32px; left: 32px; transform: translate(0%, 0%); width: 64px; height: 78px;}
      }

.form-container {
    margin: 0;
    padding: 8px;
    width: 294px;
}

.login-input-field {
    width: 200px;
}


/*MOBILE-NAVBAR */

.mobile-navbar {
    padding: 0 8px;
}

.contact-container-wrapper {
    min-width: 280px;
}


/* SIGN UP */
/* SIGN UP */
/* SUMMARY */

.main-content-summary {
    padding: 8px;
}

.bottom-top-summary,
.bottom-middle-summary,
.bottom-end-summary {
    width: 100%;
}

/* BOARD */

.main-content-board {
    padding: 8px 8px 160px 8px;
}

/* ADD TASK */

.main-content-addtask {
  padding: 8px;
}

.btn-importance-container {
  flex-wrap: wrap;
}

.add-task-button-container {
  gap: 16px;
}

/* ADD/EDIT TASKS OVERLAY */

/* CONTACTS */
/* CONTACTS FLOAT */

.floating-contact-container-wrapper {
  padding: 8px;
}

/* CONTACTS EDIT/ADD */

.add-contact-overlay-content-left,
.add-contact-overlay-content-right {
    max-width: 396px;
    width: 90vw;
    padding: 66px 24px;
}

.add-contact-overlay-form {
    width: 100%;
}
/* HELP */
/* PRIVACY */
/* LEGAL NOTICE */


/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

}

@media (max-width: 400px) {

.task-overlay-container {
     min-width: 310px;
     width: auto;
}

.mobile-guest-text {
    width: 80px !important;
  }
   
}

@media (max-width: 320px) {
    h1 {
        font-size: 47px;
    }
}


@media (max-width: 340px) {
  .addTask-button-container button,
  .btns-addtask {
    font-size: 16px !important;
    font-weight: 600;
  }

  .clear-icon {
    width: 12px;
    height: 12px;
  }

  .btns-addtask img {
    width: 22px;
    height: 22px;
  }
}



@media (max-height: 1000px) {

  .task-overlay-container {
      overflow-y: auto;
      border: solid white 40px;
      padding: 0 !important;
  }

}



@media (max-height: 865px) {
  /* LOGIN */

  @keyframes main-logo {
      0% {top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100px; height: 122px;}
      40% {top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100px; height: 122px;}
      100% {top: 20px; left: 20px; transform: translate(0%, 0%); width: 64px; height: 78px;}
    }

.form-container {
  margin: 0;
  padding: 16px;
}

.sign-up-form {
  gap: 16px;
}


  .main-content-header-summary-mobile {
      margin-bottom: 10px;
  }


/* SIGN UP */
/* SUMMARY */


.summary-wrapper {
  gap: 8px;
}

.main-content-header-summary {
  margin-bottom: 20px;
}

.main-content-header-summary-mobile {
  margin-bottom: 10px;
}

.main-content-header-summary-mobile {
  margin-bottom: 10px;
}
/* LOGIN */


.form-container {
margin: 0;
padding: 16px;
}

.sign-up-form {
gap: 16px;
}


/* SIGN UP */
/* SUMMARY */

.summary-wrapper {
gap: 8px;
}

.main-content-header-summary {
margin-bottom: 20px;
}

.main-content-header-summary-mobile,
.board-header-hide-desktop,
.add-task-header {
margin-bottom: 20px;
}

}


@media (max-height: 756px) {

  .sign-up-join-logo {
      left: 33px;
      top: 33px;
  }

  .add-contact-overlay-content-left {
    height: 300px;
  }


  .add-contact-overlay-img-wrapper {
    top: 300px;
  }


.sign-up-join-logo {
  height: 50px;
  width: 42px;
  top: 16px;
  left: 16px;
}

.login-policy-legal {
  padding: 12px 0;
}

.header-contacts-floatin-mobile,
.add-task-header {
  padding: 0;
}

.main-content-summary {
  padding: 8px;
}

.task-card {
  gap: 6px;
}

.task-card * {
  font-size: 12px;
}

.main-header {
  padding: 0;
}

.add-contact-overlay-content-left {
  padding: 30px 24px 66px;
  
}

.add-contact-overlay-content-right {
padding: 66px 24px 30px; 
}


}


@media screen and (orientation: landscape) and (max-width: 768px) and (max-height: 650px){

.landscape-overlay {
  display: flex;
}

}