


@media (max-width: 768px) {
    
 
    /* GLOBAL */

    .main-content {
        padding: 40px 20px;
        width: 100vw;
    }


/* LOGIN */
/* SIGN UP */


/* NAVBAR */

.mobile-navbar {

    padding: 0 32px;

}

/* SUMMARY */



.main-content-summary {
    padding: 40px 20px;
    
}

.main-content-header-summary {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 60px;
}

.line-summary-desktop {
    display: none;
}

.line-summary-mobile {
    display: block;
    height: 3px;
    width: 50px;
}

.bottom-top-summary,
.bottom-middle-summary,
.bottom-end-summary {
    width: 90%;
}

.summary-wrapper {
    gap: 20px;
}

.summary-wrapper h2{
    font-size: 47px;
    font-weight: 600;
}

.text-summary,
.deadline-summary,
.end-text-summary {
    font-size: 14px;
}

.date-summary {
    font-size: 16px;
    font-weight: 700;
}

.to-do-summary,
.done-summary,
.urgent-summary,
.bottom-end-left-box-summary,
.bottom-end-middle-box-summary,
.bottom-end-right-box-summary {
    border-radius: 20px;
    gap: 10px;
    height: 110px;
}

.content-summary {
    gap: 0;
}

.to-do-summary svg,
.done-summary svg {
    width: 40px;
    height: 40px;
}


/* BOARD */

.main-content-board {
    padding-bottom: 160px;
}

.top-board {
    margin: 0 0 26px 0;
}

.board-header-hide-desktop {
    margin: 0 0 40px 0;
}

.hide-mobile-768 {
    display: none;
}

.add-task-button-mobile {
    width: 40px;
    height: 40px;
}

.search-container-mobile {
    display: flex;
    justify-content: center;
}

.board-search-bar-wrapper-mobile {
    width: 100%;
    border: solid 1px rgb(168, 168, 168, 1.0);
    background-color: white;
    border-radius: 10px;
}

.board-search-bar {
    border: none;
    width: 100%;
}

.board-search-bar-wrapper-mobile:focus-within {
    border: solid 1px var(--light-blue);
}

.find-task-wrapper {
    width: 100%;
}

.add-task-button-mobile img {
    margin: 0;
}

  .board-header-hide-desktop {
    display: flex;
  }

.main-header {
    font-size: 47px;
}

.bottom-board {
    flex-direction: column;
}

.board-single-task-container {
    max-width: none;
    width: auto;
}

.board-rendered {
    min-height: auto;
}

.task-column {
    display: flex;
    gap: 16px;
    overflow: auto;
}

.task-column::-webkit-scrollbar {
    display: none;
}

.task-card {
    min-width: 252px;
    max-width: 252px;
    width: 252px;
    height: fit-content;
}


/* ADD TASK */
/* ADD/EDIT TASKS OVERLAY */
/* CONTACTS */

.main-content-contacts {
    padding: 40px 0 40px 20px;
}

.contact-container-wrapper {
    padding: 0;
}

.contacts-content {
    padding: 24px;
}


/* CONTACTS FLOAT */

.header-contacts-floatin-mobile {
    font-size: 47px;
}

.contacts-text {
    font-size: 20px;
}

.line-mobile {
    width: 90px;
}

.floating-initials-wrapper {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

.floating-full-name {
    font-size: 47px;
}

.floating-contact-header {
    gap: 20px;
}

.floating-full-name {
    font-size: 36px;
    font-weight: 700;
}

.floating-single-contact {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-info {
    margin: 0;
}

.floating-mail-phone {
    gap: 22px;
}


/* CONTACTS EDIT/ADD */
/* HELP */
/* PRIVACY */
/* LEGAL NOTICE */


/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

}