


@media (max-width: 768px) {
    
 


/* LOGIN */
/* SIGN UP */


/* NAVBAR */

.mobile-navbar {

    padding: 0 32px;

}

/* SUMMARY */
/* ADD TASK */
/* ADD/EDIT TASKS OVERLAY */
/* CONTACTS */

.contact-container-wrapper {
    padding: 0;
}

.contacts-content {
    padding: 24px;
}


/* CONTACTS FLOAT */

.header-contacts-floatin-mobile {
    font-size: 47px;
}

.contacts-text {
    font-size: 20px;
}

.line-mobile {
    width: 90px;
}

.floating-initials-wrapper {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

.floating-full-name {
    font-size: 47px;
}

.floating-contact-header {
    gap: 20px;
}

.floating-full-name {
    font-size: 36px;
    font-weight: 700;
}

.floating-single-contact {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-info {
    margin: 0;
}

.floating-mail-phone {
    gap: 22px;
}


/* CONTACTS EDIT/ADD */
/* HELP */
/* PRIVACY */
/* LEGAL NOTICE */


/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

}