


@media (max-width: 768px) {
    







/* 
.font16-weight400-768px {
    font-size: 16px;
    font-weight: 400;
} */

.main-content-contacts {
    padding: 0;
}

.contact-container-wrapper {
    padding: 0;
}

.contacts-content {
    padding: 8px 24px 24px 24px;
}

.floating-contact-container-wrapper {
    padding: 40px 0 20px 20px;
}

.header-contacts-floatin-mobile {
    font-size: 47px;
}

.contacts-text {
    font-size: 20px;
}

.line-mobile {
    width: 90px;
}

.floating-initials-wrapper {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

.floating-full-name {
    font-size: 47px;
}

.floating-contact-header {
    gap: 20px;
}

.floating-full-name {
    font-size: 36px;
    font-weight: 700;
}

.floating-single-contact {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-info {
    margin: 0;
}

.floating-mail-phone {
    gap: 22px;
}
}


@media (max-width: 650px) {

    .sign-up-join-logo {
        left: 33px;
        top: 33px;
    }
}