
/* ROTATE WARNING NOCH IMPLEMENTIEREN */
@media screen and (orientation: landscape) {
    .rotate-warning::before {
        content: "Bitte drehe dein Gerät ins Hochformat";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        background: var(--join-dark);
        color: white;
        font-size: 24px;
        text-align: center;
        z-index: 1500;
    }
}


@media (max-width: 1024px) {
  
    
        /* ASSETS */

        .guest-login,
        .mobile-login-button {
            padding: 4px;
            width: 180px;
            height: 51px;
            font-size: 16px;
            font-weight: 700;
        }
    

        /* LOGIN */
    
        .main-container {
            justify-content: flex-end;
        }
    
        .login-signup-button-mobile {
            font-size: 16px;
            padding: 15px 16px;
        }
    
        .login-header {
            padding: 0;
            justify-content: center;
        }
    
    .form-header {
        font-size: 47px;
    }
    
    .login-form {
        gap: 0;
        flex: 1;
        justify-content: flex-start;
    }
    
    .login-separator {
        margin: 16px 0 32px;
        width: 88px;
        height: 3px;
    }
    
    .form-container {
        margin: 16px auto;
        padding: 32px;
        transform: translate(-50%, -55%);
    }
    
    .login-button-container {
        flex-direction: column;
        margin: 32px 0 0;
    }
    
    .input-field-container {
        width: auto;
    }
    
    .input-bottom-field-container {
        margin: 32px 0 8px;
    }
    
    .login-error-message {
        position: static;
        font-size: 12px;
        font-weight: 400;
        text-align: start;
        align-self: flex-start;
    }
    
    .login-button-container {
        gap: 21px;
    }
    
    .login-policy-legal {
        display: flex;
        gap: 0;
        justify-content: center;
        padding: 30px 0;
        text-align: center;
        gap: 32px;
    }


/* SIGN UP */

.sign-up-join-logo {
    width: 64px;
    height: 78px;
}

.sign-up-form {
    gap: 24px;
}

.sign-up-container {
    transform: translate(-50%, -45%);
    padding: 32px;
}

.dark-button-signup,
.dark-signup-mobile-button {
    width: 180px;
    height: 51px;
    font-size: 16px;
}

.dark-signup-mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--join-dark);
    color: white;
    padding: 15px 16px;
    border-radius: 8px;
    font-weight: 700;
 
    font-family: inter;
    border: none;
}


/* NAVBAR */

.desktop-navbar {
    display: none;
}

.mobile-navbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--join-dark);
    z-index: 3000;
    padding: 0 64px;
    height: 76px;
    align-items: center;
}

.mobile-navbar a{
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-radius: 16px;
    width: 80px;
    height: 76px;
    justify-content: center;
    align-items: center;
}

.mobile-navbar a:active {
    background-color: var(--navbar-active-link);
}


/* HEADER */

.header-container {
    padding: 20px 40px;
    height: auto;
}

.header-logo-mobile {
    display: block;
}

.header-initials {
    width: 40px;
    height: 40px;
}

.help-logo,
.header-text {
    display: none;
}

/* SUMMARY */
/* ADD TASK */
/* ADD/EDIT TASKS OVERLAY */
/* CONTACTS */

.floating-contact-container-wrapper {
    display: none;
    padding: 48px;
    width: fit-content;
}

.main-contant-header {
    height: 600px;
}

.contact-container-wrapper {
    width: 100vw;
}

.contacts-content {
    padding: 40px 100px;
}

.add-contact-button-desktop {
    display: none;
}

.add-contact-button-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 46px;
    position: absolute;
    right: 40px;
    bottom: 116px;
}


/* CONTACTS FLOAT */

.main-content-header-contacts-mobile {
    gap: 16px;
}

.floating-initials-wrapper {
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
}

.floating-full-name {
    font-size: 47px;
}

.floating-contact-header {
    gap: 54px;
}

.floating-edit-delete-wrapper {
    display: none;
}

.floating-menu-back-button,
.floating-menu-options-edit-delete-button {
    display: flex;


/* CONTACTS EDIT/ADD */
/* HELP */
/* PRIVACY */
/* LEGAL NOTICE */


/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

}