





@media (max-height: 850px) {
    /* LOGIN */

    @keyframes main-logo {
        0% {top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100px; height: 122px;}
        40% {top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100px; height: 122px;}
        100% {top: 20px; left: 20px; transform: translate(0%, 0%); width: 64px; height: 78px;}
      }

.form-container {
    margin: 0;
    padding: 16px;
}

.sign-up-form {
    gap: 16px;
}

/* SIGN UP */
/* SUMMARY */
/* ADD TASK */
/* ADD/EDIT TASKS OVERLAY */



/* CONTACTS */
/* CONTACTS FLOAT */
/* CONTACTS EDIT/ADD */
/* HELP */
/* PRIVACY */
/* LEGAL NOTICE */


/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */


}