.info-input-field-container {
    height: 376px;
    width: 440px;
    top: 327px;
    left: 328px;
}

hr {
    border: none;
    border-top:1px solid #de5656; ;
    margin: 20px 0;
}

.info-input-field-container {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 20px;
    width: 100%;
}

.addtask-header {
    font-size: 32px;
    margin: 20px 0;

}

.info-input-field-container-left {
    border-right: 1px   solid #ccc;
    padding-right: 40px;
}

.addTask-input-field {
  width: 100%;              
  padding: 10px;    
  margin-top: 5px;         
  margin-bottom: 20px;      
  border: 1px solid #ddd;    
  border-radius: 10px;       
  font-size: 16px;           
  box-sizing: border-box;  
}

.info-input-field-container textarea {
  height: 120px;
  width: 100%;              
  padding: 10px;     
  margin-top: 5px;        
  margin-bottom: 20px;      
  border: 1px solid #ddd;    
  border-radius: 10px;       
  font-size: 16px;           
  box-sizing: border-box;  
  resize: none;
  outline: none;
}

.info-input-field-container input:focus,
.info-input-field-container textarea:focus {
  border: solid 1px var(--light-blue);
}

.info-input-field-container select {
  width: 100%;              
  padding: 10px; 
  margin-top: 5px;            
  margin-bottom: 20px;      
  border: 1px solid #ddd;    
  border-radius: 10px;       
  font-size: 16px;           
  box-sizing: border-box;   
}

.red-asterisk {
    color: red; 
  }

/* Allgemeines Styling für die Buttons */
.btn-importance-container {
    display: flex;
    gap: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  .btn-importance {
    background-color: #ffffff;
    color: var(--join-dark);
    border-radius: 8px;
    font-weight: 400;
    padding: 16px 10px;
    font-size: 16px;
    font-family: inter;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border: 0px;
    gap: 5px;
  }
  

  .btn-importance:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  

  .btn-importance.active {
    background-color: #ffffff;
  }

  .btn-importance-container label {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    gap: 8px;
    font-size: 20px;
    font-weight: 400;
  }

  .prio-button {
    background-color: white;
  }

  .prio-button:hover {
    box-shadow: var(--button-shadow);
    cursor: pointer;
  }
  
  .prio-urgent.active {
    background-color: var(--priority-urgent);
    color: white;
    font-weight: 700;
    font-size: 21px;
  }
  
  .prio-medium.active {
    background-color: var(--priority-medium);
    color: white;
    font-weight: 700;
    font-size: 21px;
  }
  
  .prio-low.active {
    background-color: var(--priority-low);
    color: white;
    font-weight: 700;
    font-size: 21px;
  }


  .prio-svg path {
    fill: white;
  }
  

  .medium:not(.active) img {
    filter: hue-rotate(30deg) saturate(100%);
  }
  
  .btn-importance img.active {
    filter: brightness(0) saturate(100%) invert(1); 
  }
  
  

label {
    font-family: Inter;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
}

.subtasks-wrapper {
  position: relative;
}

.subtask-input-wrapper {
    position: relative;   
  }

.subtasks-input {
    margin-bottom: 0;
    box-sizing: border-box;
  }

.plus-icon {
    position: absolute;
    top: calc(50% + 2.5px);                 
    right: 10px;            
    transform: translateY(-50%);
    cursor: pointer;            
    border-radius: 50%;        
  
  }


.subtasks-icons-wrapper {
  position: absolute;
  top: calc(50% + 15px);                 
  right: 10px;            
  transform: translateY(-50%);
  cursor: pointer;            
  border-radius: 50%;     
}
  
.mini-separator {
  width: 1px;
  height: 80%;
  background-color: var(--input-separator-color);
  margin: 0 6px;
}

.plus-icon:hover {
    background-color: #ccc;
  }

  .subtasks-icons-wrapper {
    display: flex;
    height: 24px;
  }

  .subtasks-icon {
    width: 24px;
    height: 24px;
  }

  .sub-task-icon-x {
    width: 18px;
    height: 18px;
  }

.subtasks-icon-container {
  width: 24px;
  height: 24px;
  border-radius: 50%;;
}

  .subtasks-icon-container:hover {
    background-color: #ccc;
  }

.subtask-single-wrapper {
  margin: 0 ;
  /* border: none ; */
  margin-bottom: 4px ;
  height: 30px;
  width: 100%;
  background-color: var(--main-background);
  border-radius: 10px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}
.subtask-single-wrapper input {
  flex: 1;
  height: 80%;
  border: none;
  background-color: var(--main-background);
}



.subtask-single-wrapper:hover,
.subtask-single-wrapper input:hover {
  background-color: #e4e4e4;
}

.single-task-icon-wrapper {
  dis
}

.subtask-single-input:focus {
  border-bottom: solid 1px var(--light-blue) ;
  border-radius: 0px ;
}

.addTask-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 30px 0;
    height: 40%;
    gap: 228px; 
}

.addTask-button-container-btns {
    display: flex;
    gap: 16px;
}

.btns-addtask {
    display: flex;
    gap: 4px;
}

.addtask-header-overlay{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  

