@font-face {
  font-family: inter;
  src: url(../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.column {
  flex-direction: column;
}

.gap8 {
  gap: 8px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex1 {
  flex: 1;
}

.flex-ctr-spbtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.hover-pointer:hover {
  cursor: pointer;
}

.no-border {
  border: none;
}

.disable-pointer-events {
  pointer-events: none;
}

.no-padding {
  padding: 0;
}

.scrollable-auto {
    overflow: auto;
}

.scrollable-y {
  overflow-y: auto;
}

.scrollable-x {
  overflow-x: auto;
}

.center {
  align-self: center;
}

.relative {
  position: relative;
}

.height-32 {
  height: 32px;
}

.width-100p {
  width: 100%;
}

.flex1 {
  flex: 1;
}

button,
input {
  outline: none;
}

.auto-margin-bottom {
  margin-bottom: auto;
}

.hide-desktop-flex {
  display: none !important;
}

.hide-mobile-flex {
  display: flex !important;
}

.input-alert-message {
  font-family: poppins;
  font-size: 12px;
  color: white;
}

.error-message {
  font-size: 12px;
  font-weight: 400;
  color: red;
  height: 14px;
  padding-left: 10px;
  padding-top: 2px;
  margin-bottom: 8px;
}

.red-border-inputfield {
  border-color: red !important;
}

input:focus {
  outline: none;
  border-color: var(--light-blue);
}

.deactivate-content {
  pointer-events: none;
  filter: brightness(50%);
}

.dark-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--join-dark);
  color: white;
  padding: 15px 16px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 21px;
  font-family: inter;
  border: none;
}

.dark-button:hover {
  cursor: pointer;
  background-color: var(--light-blue);
  box-shadow: var(--button-shadow);
}

.light-button {
  box-sizing: border-box;
  background-color: var(--white);
  color: var(--join-dark);
  border-radius: 8px;
  font-weight: 700;
  padding: 15px 24px;
  font-size: 21px;
  font-family: inter;
  border: 1px solid var(--join-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-button:hover {
  cursor: pointer;
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
  box-shadow: var(--button-shadow);
}

.lightblue-text {
  color: var(--light-blue);
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  background-color: var(--light-blue);
  width: 2px;
  height: 50px;
  margin-right: 10px;
}