

:root {
    --navbar-bg-color: #2A3647;
    --linkbar-color: white;
   

    --light-blue: #29ABE2;
    
    --main-background: #F6F7F8;
    --grey-hover: #D9D9D9;
    --hover-darkblue: #2A3D59;
    --navbar-active: #091931;
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}