

:root {
    --navbar-bg-color: #2A3647;
    --linkbar-color: white;
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}