.top-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.dragging {
  transform: rotate(3deg) !important;
}

.summary-main-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main-content-board {
  position: relative;
}

.bottom-board {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  flex: 1;
}

.task-search-error-message {
  position: absolute;
  top: 52px;
  left: 10px;
}

.bottom-board-tasks {
  max-height: calc(100dvh - 370px);
}

.search-error-message {
  height: 14px;
}

.bottom-board {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
}

.board-single-task-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 150px;
  width: 25%;
}

.board-top-right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
}

.board-search-bar {
  box-sizing: border-box;
  border: 1px solid rgb(168, 168, 168, 1);
  border-radius: 10px;
  padding: 12px 21px;
  font-size: 20px;
  z-index: 100;
  width: 312px;
}

.board-search-bar::placeholder {
  color: rgb(209, 209, 209, 1);
}

.board-search-bar:focus {
  outline: none;
  border-color: var(--light-blue);
}

.add-task-button {
  padding: 8px 16px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task-button img {
  margin-left: 17px;
  width: 19px;
  height: 19px;
}

.search-logo-wrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.search-logo-wrapper:hover {
  background-color: var(--input-field-grey);
}

.searchbar-button-container {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translate(-2px, -50%);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  height: calc(100% - 4px);
  cursor: pointer;
  border: none;
  border-radius: 0 10px 10px 0;
  border-left: none;
  padding-right: 21px;
  background-color: white;
  z-index: 50;
}

.searchbar-separator {
  height: 32px;
  width: 1px;
  background-color: var(--input-separator-color);
}

.search-logo {
  width: 18px;
  height: 18px;
}

.board-task-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: var(--join-board-text-color);
  font-size: 20px;
  font-weight: 700;
  min-height: 25px;
}

.board-add-task-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.board-add-icon:hover rect,
.board-add-icon:hover path {
  stroke: var(--light-blue);
}

.addtask-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1001;
  overscroll-behavior: contain;
}

.addtask-header-overlay h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.find-task-wrapper {
  position: relative;
}

.addtask-content-hide {
  transform: translate(100dvw, -50%) !important;
  z-index: 1500;
}

.addtask-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 816px;
  height: 770px;
  border-radius: 30px;
  padding-top: 28px;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 0;
  position: absolute;
  background-color: var(--join-background);
  height: 100%;
  background: #f6f7f8;
  z-index: 2200;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.addtask-close-button {
  width: 15px;
  height: 15px;
  padding: 5px;
  border-radius: 50px;
}

.addtask-close-button:hover {
  cursor: pointer;
  background-color: rgba(124, 124, 124, 0.16);
}

.task-added-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100dvh);
  overscroll-behavior: contain;
  z-index: 3500;
  transition: ease-out 200ms;
}

.task-added-overlay-button-show {
  transform: translate(-50%, -50%);
  z-index: 3500;
}

.task-added-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 326px;
  height: 74px;
  background-color: var(--join-dark);
  box-shadow: 0px 0px 4px 0px #0000001a;
  border-radius: 20px;
}

.task-added-message h2 {
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.no-tasks {
  background-color: rgba(231, 231, 231, 1);
  color: rgba(168, 168, 168, 1);
  border-radius: 10px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4 0 rgba(0, 0, 0, 0.16);
  border: dashed 1px rgba(168, 168, 168, 1);
  padding: 16px 24px;
  text-align: center;
}

.no-task-search {
  background-color: rgba(231, 231, 231, 1);
  color: rgba(168, 168, 168, 1);
  border-radius: 10px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4 0 rgba(0, 0, 0, 0.16);
  border: dashed 1px rgba(168, 168, 168, 1);
  padding: 16px 24px;
  text-align: center;
}

.inprogress-card-content h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #2a3647;
}

.inprogress-card-content p {
  margin: 0;
  font-size: 14px;
  color: #4a4a4a;
}

.subtask-info {
  color: #9a9a9a;
  font-size: 12px;
}

.task-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  padding: 16px;
  margin-bottom: 16px;
  cursor: grab;
  transition: transform 0.2s ease-in-out;
}

.task-card:active {
  cursor: grabbing;
  transform: scale(1.05);
}

.drag-over {
  background-color: rgba(0, 0, 255, 0.1);
  border: 2px dashed blue;
}

.task-type {
  border-radius: 8px;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  width: fit-content;
  background-color: blue;
  line-height: 120%;
}

.task-title-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-title {
  font-size: 16px;
  font-weight: 700;
  color: #2a3647;
  line-height: 120%;
  letter-spacing: 0;
}

.task-description {
  font-size: 16px;
  color: #a8a8a8;
  line-height: 120%;
  font-weight: 400;
}

.task-subtask-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.subtask-progressbar {
  position: relative;
  flex: 1;
  height: 8px;
  background-color: #e2e2e2;
  border-radius: 8px;
}

.subtask-progress {
  position: absolute;
  height: 8px;
  border-radius: 8px;
  left: 0;
  background-color: #3d73ff;
}

.subtask-count {
  display: inline;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  color: #666;
}

.task-meta-assignend-user-container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  width: 100%;
}

.task-meta {
  display: flex;
  gap: 16px;
}

.init-board-assigned {
  height: 32px;
  overflow: hidden;
}

.task-date,
.task-priority {
  font-size: 12px;
  color: #888;
}

.contact-list-board-initals {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 45px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  border: solid 1px #ffffff;
}

.task-column {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  scrollbar-width: thin;
}

.task-column::-webkit-scrollbar-button {
  display: none;
}

.task-column::-webkit-scrollbar {
  width: 6px;
}

.board-header-hide-desktop {
  display: none;
}

.board-add-task-icon-wrapper-mobile {
  display: none;
}

.column-link-mobile {
  display: none;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-type-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.drag-and-drop-mobile {
  display: none;
}

.dropdown-tasks-content {
  position: relative;
}
.dropdown-tasks-menu {
  display: none;
}

@media (max-width: 1150px) {
  .bottom-board {
    gap: 8px;
  }
}

@media (max-width: 1024px) {
  .board-main-container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
  }

  .board-add-task-icon-wrapper-mobile {
    display: flex;
  }

  .board-add-task-icon-wrapper {
    display: none;
  }

  .top-board {
    margin: 0 0 26px 0;
  }

  .board-header-hide-desktop {
    margin: 0 0 40px 0;
  }

  .search-container-mobile {
    display: flex;
    justify-content: center;
  }

  .board-search-bar-wrapper-mobile {
    width: 100%;
    border: solid 1px rgb(168, 168, 168, 1);
    background-color: white;
    border-radius: 10px;
  }

  .board-search-bar {
    border: none;
    width: 100%;
  }

  .main-content-board {
    display: flex;
  }

  .board-search-bar-wrapper-mobile:focus-within {
    border: solid 1px var(--light-blue);
  }

  .find-task-wrapper {
    width: 100%;
  }

  .add-task-button-mobile img {
    margin: 0;
  }

  .board-header-hide-desktop {
    display: flex;
  }

  .main-header {
    font-size: 47px;
  }

  .bottom-board {
    gap: 14px;
    flex-direction: column;
  }

  .bottom-board-tasks {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    max-height: calc(100dvh - 408px);
  }

  .board-single-task-container {
    max-width: none;
    width: auto;
    scroll-snap-align: start;
  }

  .board-rendered {
    min-height: auto;
  }

  .task-column {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
  }

  .task-column::-webkit-scrollbar {
    display: none;
  }

  .task-card {
    min-width: 252px;
    max-width: 252px;
    width: 252px;
    height: fit-content;
    scroll-snap-align: start;
  }

  .no-tasks {
    width: 100%;
  }

  .drag-and-drop-mobile {
    display: block;
  }

  .drag-and-drop-mobile:hover {
    cursor: pointer;
  }

  .dropdown-tasks-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    right: 0;
    top: 0;
    padding: 5px;
    background-color: var(--navbar-bg-color);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 1800;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  }

  .dropdown-tasks-menu div {
    display: flex;
    align-items: center;
    width: 130px;
    height: 40px;
    padding-left: 10px;
    color: white;
  }

  .dropdown-tasks-text {
    font-size: 12px;
    font-weight: 400;
  }

  .d-none-tasks {
    display: none;
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .main-content-board {
    padding: 40px 20px 40px;
  }
}

@media (max-width: 480px) {
  .main-content-board {
    padding: 8px;
  }
}

@media (max-height: 900px) {
  .task-card {
    gap: 6px;
  }

  .task-card * {
    font-size: 12px;
  }

  .main-content-board {
    padding: 8px;
  }

  .board-header-hide-desktop {
    margin-bottom: 20px;
  }

  .bottom-board-tasks {
    max-height: calc(100dvh - 360px);
  }

  .dropdown-tasks-menu div {
    height: 30px;
  }
}
