.top-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
}

.bottom-board {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  max-height: calc(100vh-240px);
  overflow-y: auto;
}

.bottom-board::-webkit-scrollbar {
  display: none; 
}

.board-single-task-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 150px;
  width: 25%;
}

.board-top-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.board-search-bar {
  box-sizing: border-box;
  border: 1px solid var(--input-field-grey);
  border-radius: 10px;
  padding: 12px 21px;
  font-size: 20px;
  z-index: 100;
  width: 312px;
}

.add-task-button {
  padding: 8px 16px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task-button img {
  margin-left: 17px;
  width: 19px;
  height: 19px;
}

.board-search-bar:focus {
  outline: none;
  border-color: var(--light-blue);
}

.search-logo-wrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.search-logo-wrapper:hover {
  background-color: var(--input-field-grey);
}

.searchbar-button-container {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  height: calc(100% - 2px);
  cursor: pointer;
  border: none;
  border-radius: 0 10px 10px 0;
  border-left: none;
  padding-right: 21px;
  background-color: white;
  z-index: 50;
}

.searchbar-separator {
  height: 32px;
  width: 1px;
  background-color: var(--input-separator-color);
}

.search-logo {
  width: 18px;
  height: 18px;
}

.board-task-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: var(--join-board-text-color);
  font-size: 20px;
  font-weight: 700;
}

.board-add-task-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.board-add-icon:hover rect,
.board-add-icon:hover path {
  stroke: var(--light-blue);
}

.addtask-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1001;
  overscroll-behavior: contain;
}

.addtask-header-overlay h1{
  margin-block-start: 0;
  margin-block-end: 0;
}

.find-task-wrapper {
  position: relative;
}

.addtask-content-hide {
    transform: translate(100vw, -50%) !important;
    z-index: 1500;
}

.addtask-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 816px;
  height: 770px !important;
  border-radius: 30px;
  padding-top: 28px;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 0;
  position: absolute;
  background-color: var(--join-background);
  height: 100%;
  background: #f6f7f8;
  z-index: 2200;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: 400ms ease-in-out;
}

.addtask-close-button {
  width: 15px;
  height: 15px;
  padding: 5px;
  border-radius: 50px;
}

.addtask-close-button:hover {
  cursor: pointer;
  background-color: rgba(124, 124, 124, 0.16);
}

.task-added-overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  overscroll-behavior: contain;
  z-index: 11;
}

.task-added-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 226px;
    height: 34px;
    background-color: var(--join-dark);
    box-shadow: 0px 0px 4px 0px #0000001A;
    border-radius: 20px;
}

.task-added-message h2{
    font-size: 16px;
    font-weight: 300;
    color: white;
}

.no-tasks {
  background-color: #ffffff;         
  border-radius: 8px;              
  box-shadow: 0 2px 4px rgba(0,0,0,0.15); 
  margin-bottom: 16px;                
  padding: 16px;                       
  font-family: 'Inter', sans-serif;   
  display: flex;
  flex-direction: column;
  gap: 8px;                         
}


.inprogress-card-content h3 {
  margin: 0;                
  font-size: 18px;          
  font-weight: 600;        
  color: #2A3647;          
}

.inprogress-card-content p {
  margin: 0;
  font-size: 14px;
  color: #4a4a4a;          
}


.subtask-info {
  color: #9a9a9a;
  font-size: 12px;
}


.task-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #ffffff;
  border-radius: 24px;                
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  padding: 16px;
  margin-bottom: 16px;
  cursor: grab;
  transition: transform 0.2s ease-in-out;
}

.task-card:active {
  cursor: grabbing;
  transform: scale(1.05);
}

.drag-over {
  background-color: rgba(0, 0, 255, 0.1);
  border: 2px dashed blue;
}

.task-type {
  border-radius: 8px;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  width: fit-content;
  background-color: blue;
  line-height: 120%;;
}

.task-title-description-wrapper{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-title {
  font-size: 16px;
  font-weight: 700;
  color: #2A3647;
  line-height: 120%;
  letter-spacing: 0;
}

.task-description {
  font-size: 16px;
  color: #A8A8A8;
  line-height: 120%;
  font-weight: 400;
}

.task-subtask-info {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 16px;
}

.subtask-progressbar {
  position: relative;
  flex: 1;
  height: 8px;        
  background-color: #E2E2E2;
  border-radius: 8px;
}

.subtask-progress {
  position: absolute;
  height: 8px;
  border-radius: 8px;
  left: 0;
  background-color: #3D73FF; 
}

.subtask-count {
  display: inline;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  color: #666;
  /* flex: 1; */
}

.task-meta-assignend-user-container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.task-meta {
  display: flex;
  gap: 16px; 
}

.task-date, .task-priority {
  font-size: 12px;
  color: #888;
}

.contact-list-board-initals {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 45px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  border: solid 1px #FFFFFF;
}

.board-rendered {
  height: 500px;
}