

.initials-bg-color-A,
.initials-bg-color-I,
.initials-bg-color-Q,
.initials-bg-color-Y {
    background-color:#EB7A04;
}

.initials-bg-color-B,
.initials-bg-color-J,
.initials-bg-color-R,
.initials-bg-color-Z {
    background-color:#007C3D;
}

.initials-bg-color-C,
.initials-bg-color-K,
.initials-bg-color-S {
    background-color:#950076;
}

.initials-bg-color-D,
.initials-bg-color-L,
.initials-bg-color-T {
    background-color:#005CA9;
}

.initials-bg-color-E,
.initials-bg-color-M,
.initials-bg-color-U {
    background-color:#CA0107;
}

.initials-bg-color-F,
.initials-bg-color-N,
.initials-bg-color-V {
    background-color:#D6C201;
}

.initials-bg-color-G,
.initials-bg-color-O,
.initials-bg-color-W {
    background-color:#00868C;
}

.initials-bg-color-H,
.initials-bg-color-P,
.initials-bg-color-X {
    background-color:#21308D;
}