.main-content-contacts {
  height: 100%;
  position: relative;
}

.contacts-main {
  overflow-y: hidden;
}

.flex-row {
  flex-direction: row;
}

.top-contacts {
  margin-top: 110px;
}

.floating-contact-container-wrapper {
  padding: 80px 0 80px 80px;
  width: 100%;
}

.floating-cotact-mobile-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.contact-container-wrapper:hover {
  cursor: pointer;
}

.contact-container-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 456px;
  padding: 24px;
  background-color: white;
  overflow-y: scroll !important;
  box-shadow: 4px 0px 6px 0px rgb(0, 0, 0, 0.08);
  transform: translateY(-4px);
}

.add-contact-button {
  width: 352px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 16px;
  padding: 12px;
}

.add-contact-button-mobile {
  display: none;
}

.add-person-icon-wrapper,
.floating-menu-options-edit-delete-button,
.floating-menu-back-button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1600;
}

.floating-menu-back-button:hover {
  cursor: pointer;
}

.floating-menu-back-button:active {
  border-radius: 50%;
  background-color: var(--button-active);
}

.add-person-icon-wrapper img {
  width: 29px;
  height: 21px;
}

.line-mobile {
  display: none;
}

.contacts-content,
.contacts-first-letter,
.single-contact {
  width: 100%;
}

.contacts-content {
  margin-bottom: 80px;
}

.contacts-first-letter {
  font-size: 20px;
  padding: 17px 36px;
}

.contacts-separator {
  height: 1px;
  margin: 8px 0;
  background: var(--input-separator-color);
}

.add-contact-overlay-separator-mobile {
  display: none;
}

.single-contact {
  padding: 15px 24px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
  overflow: hidden;
}

.single-contact:hover {
  background: var(--hover-effect-contacts);
}

.contact-list-initals {
  min-height: 42px;
  height: 42px;
  min-width: 42px;
  width: 42px;
  border-radius: 50%;

  color: white;
  border: solid 2px white;
}

.contact-name {
  font-size: 20px;
}

.contact-email {
  color: var(--email-color);
  word-break: break-word;
}

.contact-container-wrapper::-webkit-scrollbar {
  background: white;
  width: 24px;
}

.contact-container-wrapper::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border: solid 8px transparent;
  border-radius: 16px;
  background-clip: content-box;
}

.contact-container-wrapper::-webkit-scrollbar-button:start {
  display: flex;
  justify-content: center;
  background-image: url(../assets/icons/scroll-up-arrow.svg);
  background-repeat: no-repeat;
  background-position: center 20px;
  height: 77px;
}

.contact-container-wrapper::-webkit-scrollbar-button:end {
  display: flex;
  background-image: url(../assets/icons/scroll-down-arrow.svg);
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center 57px;
  height: 77px;
}

.board-container-wrapper {
  flex: 1;
}

.bottom-board {
  transform: translateX(100dvw);
  display: flex;
  flex-direction: column;
  gap: 21px;
  transition: transform 400ms ease-in-out;
}

.floating-contact-container-open {
  transform: translateX(0);
}

.floating-contact-header {
  display: flex;
  gap: 54px;
}

.contacts-text {
  font-size: 27px;
  font-weight: 400;
}

.floating-initials-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 70px;
  min-width: 120px;
  max-width: 120px;
  min-height: 120px;
  max-width: 120px;
  border: solid 3px white;
}

.floating-initials {
  font-size: 47px;
  font-weight: 500;
  color: white;
}

.floating-initials,
.floating-full-name {
  font-size: 47px;
  font-weight: 500;
}

.floating-name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.floating-edit-delete-wrapper {
  display: flex;
  gap: 16px;
  height: 24px;
}

.floating-edit-delete-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-edit-delete-wrapper svg {
  margin-right: 13px;
}

.floating-edit-wrapper:hover > div,
.floating-delete-wrapper:hover > div {
  color: var(--light-blue);
  cursor: pointer;
  font-weight: 700;
}

.floating-edit-wrapper:hover > div > svg *,
.floating-delete-wrapper:hover > div > svg * {
  fill: var(--light-blue);
}

.floating-edit-delete-wrapper-mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 8px;
  bottom: 96px;
  padding: 10px;
  border-radius: 20px 20px 0 20px;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
  transform: translateX(50dvw);
  transition: 125ms ease-in-out;
  z-index: 2000;
  cursor: pointer;
}

.show-floating-edit-delete-wrapper-mobile {
  transform: translateX(0);
}

.floating-edit-wrapper-mobile,
.floating-delete-wrapper-mobile {
  display: flex;
  gap: 8px;
  padding: 8px;
  color: var(--join-dark);
}

.floating-edit-wrapper-mobile:active,
.floating-delete-wrapper-mobile:active {
  font-weight: 700;
  color: var(--light-blue);
}

.floating-edit-wrapper-mobile:active > div > svg > path,
.floating-delete-wrapper-mobile:active > div > svg > path {
  fill: var(--light-blue);
}

.contact-info {
  font-size: 20px;
  margin-top: 44px;
  margin-bottom: 44px;
}

.floating-mail-phone-wrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.floating-mail-phone {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.color-blue-mail {
  color: var(--email-color);
}

.floating-mail-phone-header {
  font-weight: 700;
}

.highlight-contact {
  background-color: var(--join-dark);
  color: var(--white);
}

.highlight-contact:hover {
  background: var(--join-dark);
  color: var(--white);
}

.contact-created-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-top: 60px;
  font-size: 20px;
  border-radius: 20px;
  font-weight: 400;
  transform: translateX(100dvw);
  transition: 300ms ease-in-out;
}

.contact-created-button-show {
  transform: translateX(0);
}

.floating-menu-back-button {
  display: none;
  position: absolute;
  right: 40px;
  width: 32px;
  height: 32px;
}

.floating-menu-back-icon {
  width: 32px;
}

.floating-menu-options-edit-delete-button {
  display: none;
  bottom: 30px;
  border-radius: 56px;
  position: absolute;
  right: 40px;
  width: 56px;
  height: 56px;
}

.floating-contact-mobile-mask {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: 1800;
}

@media (max-width: 1350px) {
  .floating-contact-container-wrapper {
    padding: 80px 40px;
  }

  .line-desktop {
    display: none;
  }

  .line-mobile {
    display: block;
    height: 2px;
    width: 100px;
  }

  .contacts-content,
  .contacts-first-letter,
  .single-contact {
    padding: 10px;
  }

  .contacts-separator {
    width: 100%;
  }

  .floating-contact-header {
    gap: 32px;
  }

  .floating-full-name {
    font-size: 40px;
  }

  .floating-initials-wrapper {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
  }

  .floating-initials {
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .close-icon-contact-mobile-overlay {
    transform: translate(0, -98px);
  }

  .contacts-main {
    background-color: white;
  }

  .contact-container-wrapper {
    max-height: calc(100dvh - 170px);
  }

  .main-content-contacts-mobile {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contacts-main {
    height: 100dvh;
    display: flex;
    flex-direction: column;
  }

  .floating-contact-container-wrapper {
    display: none;
    padding: 40px 0 40px 40px;
  }

  .main-contant-header {
    height: 600px;
  }

  .contact-container-wrapper {
    width: 100dvw;
    transform: translateY(4px);
    box-shadow: none;
  }

  .contacts-content {
    padding: 0 100px;
    margin-bottom: 0px;
  }

  .add-contact-button-desktop {
    display: none;
  }

  .add-contact-mobile-button-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(12, 12, 12, 0);
    width: 5px;
    height: 100dvh;
    z-index: 3000;
  }

  .add-contact-button-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 46px;
    position: absolute;
    right: 40px;
    bottom: 186px;
  }

  .main-content-contacts-mobile {
    background-color: white;
  }

  .main-content-header-contacts-mobile {
    gap: 16px;
  }

  .floating-initials-wrapper {
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
  }

  .floating-full-name {
    font-size: 47px;
  }

  .floating-contact-header {
    gap: 54px;
  }

  .floating-menu-back-button,
  .floating-menu-options-edit-delete-button {
    display: flex;
  }

  .floating-menu-back-button {
    padding: 4px;
  }

  .floating-edit-delete-wrapper {
    display: none;
  }

  .standard-overlay-hide {
    transform: translate(-50%, 100dvh) !important;
  }

  .add-contact-overlay {
    flex-direction: column;
  }

  .add-contact-overlay-img-wrapper {
    display: none;
  }

  .add-contact-overlay-content-left {
    width: 396px;
    height: 352px;
    border-radius: 30px 30px 0 0;
    padding: 66px 24px;
  }

  .add-contact-overlay-content-right {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 396px;
    border-radius: 0 0 30px 30px;
    padding: 66px 24px;
  }

  .add-contact-formular-wrapper {
    padding-right: 28px;
  }

  .add-contact-overlay-join-logo {
    display: none;
  }

  .add-contact-overlay-header {
    font-size: 47px;
  }

  .add-contact-overlay-header-text {
    display: none;
  }

  .add-contact-overlay-header-separator {
    display: block;
  }

  .add-contact-overlay-separator-mobile {
    display: block;
  }

  .close-icon-wrapper:hover {
    background-color: var(--grey-hover);
  }

  .close-icon-wrapper:active {
    background-color: var(--light-blue);
  }

  .close-icon-white {
    display: block;
  }

  .margin-bottom-12 {
    margin-bottom: 12px;
  }

  .close-icon-dark {
    display: none;
  }

  .add-contact-overlay-img-wrapper {
    display: flex;
    position: absolute;
    top: 352px;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
  }

  .add-contact-formular-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
    align-self: center;
  }

  .add-contact-overlay-form {
    width: 100%;
    padding: 0;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
  }

  .input-wrapper {
    height: 41px;
    padding: 13px 21px;
  }

  .cancel-button,
  .create-button {
    width: auto;
    padding: 18px 10px;
  }

  .placeholder-alert-message {
    display: none;
  }
}

@media (max-width: 1150px) {
  .floating-contact-container-wrapper {
    padding: 20px;
  }

  .main-content-contacts {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .contact-container-wrapper {
    min-width: 280px;
  }

  .add-contact-overlay-content-left,
  .add-contact-overlay-content-right {
    max-width: 396px;
    width: 90dvw;
    padding: 66px 24px;
  }

  .contacts-content {
    padding: 8px 0 8px 8px;
  }

  .single-contact {
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  .main-content-contacts {
    padding: 0;
  }

  .contact-container-wrapper {
    padding: 0;
  }

  .contacts-content {
    padding: 8px 24px 24px 24px;
  }

  .floating-contact-container-wrapper {
    padding: 40px 0 20px 20px;
  }

  .header-contacts-floatin-mobile {
    font-size: 47px;
  }

  .contacts-text {
    font-size: 20px;
  }

  .line-mobile {
    width: 90px;
  }

  .floating-initials-wrapper {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
  }

  .floating-full-name {
    font-size: 47px;
  }

  .floating-contact-header {
    gap: 20px;
  }

  .floating-full-name {
    font-size: 36px;
    font-weight: 700;
  }

  .floating-single-contact {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .contact-info {
    margin: 0;
  }

  .floating-mail-phone {
    gap: 22px;
  }
}

@media (max-width: 480px) {
  .input-wrapper input {
    font-size: 14px;
  }

  .floating-contact-container-wrapper {
    padding: 8px;
  }

  .contacts-content {
    padding: 8px 0 8px 8px;
  }

  .single-contact {
    padding: 10px 0;
  }
}

@media (max-width: 350px) {
    .add-contact-overlay-content-left,
  .add-contact-overlay-content-right {
    max-width: 396px;
    width: 90dvw;
    padding: 66px 8px;
  }
}

@media (max-height: 900px) {
  .floating-contact-container-wrapper {
    padding: 8px;
  }
      .add-contact-overlay-content-left,
  .add-contact-overlay-content-right {
    max-width: 396px;
    width: 90dvw;
    padding: 33px 8px;
  }
}

@media (max-height: 750px) {

.contact-created-button {
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    margin-top: 0;
    transform: translate(-50%, 100dvh);
    text-align: center;
  }

  .contact-created-button-show {
    transform: translate(-50%, -50%);
  }

    .add-contact-overlay-content-left,
  .add-contact-overlay-content-right {
    max-width: 396px;
    width: 90dvw;
    padding: 20px 8px;
  }

  .add-contact-overlay-content-left {
    height: 40dvh;
  }

  .add-contact-overlay-content-right {
    height: 40dvh;
  }

    .add-contact-overlay-img-wrapper {

    top: 40dvh;


    transform: translate(-50%, -50%);
  }

  .header-contacts-floatin-mobile {
    padding: 0;
  }

}