
body {
    overflow: hidden;
}

.main-container {
    z-index: 800;
}

.mask-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 900;
    transition: 400ms ease-in-out;
}

.add-contact-overlay * {
    box-sizing: border-box;
}

.add-contact-overlay-hide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100vw, -50%);
    display: flex;
    transition: 400ms ease-in-out;
    z-index: 1000;
}

.add-contact-overlay-open {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    transition: 400ms ease-in-out;
    z-index: 1000;
}

.add-contact-overlay-content-left {
    width: 467px;
    height: 594px;
    background-color: var(--join-dark);
    color: white;
    padding: 66px 48px;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.add-contact-overlay-join-logo {
    width: 56px;
    height: 66px;
}

.add-contact-overlay-header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-contact-overlay-header {
    font-size: 61px;
    font-weight: 700;
}

.add-contact-overlay-header-text {
    font-size: 27px;
}

.add-contact-overlay-header-separator {
    height: 3px;
    width: 90px;
    background-color: var(--light-blue);
}

.add-contact-overlay-content-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 745px;
    height: 594px;
    background-color: white;
    border-radius: 0 30px 30px 0;
    flex: 1;
}

.add-contact-overlay-img-wrapper {
    width: 120px;
    height: 120px;
    background-color: #D1D1D1;
    border-radius: 70px;
    border: solid 3px white;
    margin: 0 40px 38px 80px;
}

.add-contact-overlay-img-wrapper svg {
    width: 42px;
    height: 42px;
}

.add-contact-overlay-img-wrapper svg path {
    fill: white;
}

.add-contact-overlay-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 422px;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 16px;
    border-radius: 10px;
    height: 56px;
}

.svg-wrapper {
    width: 24px;
    height: 24px;
}

.cancel-button {
    transition: 100ms ease-in-out;
    width: 126px;
}

.create-button {
    width: 214px;
}

.add-contact-overlay-form-button-wrapper {
    display: flex;
    gap: 24px;
}

.no-border {
    border: none;
}

.input-wrapper {
    border: 1px solid var(--input-field-grey);
    border-radius: 10px;
    padding: 13px 21px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-contact-formular-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 40px;
}

.close-icon-wrapper {
    width: 32px;
    height: 32px;
    border-radius: 56px;
    align-self: self-end;
}

.close-icon-wrapper:hover {
    background-color: #D1D1D1;
    cursor: pointer;
}

.create-button > span {
    font-size: 21px;
    font-weight: 700;
}

.cancel-button > span {
    font-size: 20px;
    font-weight: 400;
    transition: 200ms !important;
    transition: ease !important;
}


.cancel-button:hover,
.cancel-button:hover > div > svg *{
    fill: var(--light-blue);
    border-color: var(--light-blue);
    color: var(--light-blue);
}

