

.main-content {
    padding-left: 0;
}

.flex-row {
    flex-direction: row;
}

.top-contacts {
    margin-top: 110px;
}

.board-container-wrapper {
    padding-left: 64px;
}

.contact-container-wrapper {
    width: 456px;
    height: calc(100% - 96px);
    display: flex;
    justify-content: center;
    box-shadow: 1px 5px 4px 2px rgb(202, 202, 202);
    overflow-y:auto;
    background-color: white;
    transform: translateY(-4px);
}

.contact-container-wrapper:hover {
    cursor:pointer;
}

.contact-container-inner-wrapper {
    box-sizing: border-box;
    width: 400px;
    height: 100%;
    padding: 24px;
    background-color: white;
}

.add-contact-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 12px;
}

.add-person-icon-wrapper {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-person-icon-wrapper img {
    width: 29px;
    height: 21px;
}

.contacts-first-letter {
    font-size: 20px;
    padding: 17px 36px;
}

.contacts-separator {
    height: 1px;
    margin: 8px 0;
    background: var(--input-separator-color);
}

.single-contact {
    padding: 15px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border-radius: 10px;
}

.single-contact:hover {
    background: var(--hover-effect-contacts);
}

.contact-list-initals {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    border: solid 2px white;
}

.contact-name {
    font-size: 20px;
}

.contact-email {
    color: var(--email-color);
}

.contact-container-wrapper::-webkit-scrollbar {
    background: white;
    width: 24px;
  
}

.contact-container-wrapper::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border: solid 8px transparent;
    border-radius: 16px;
    background-clip: content-box;
}

/* .contact-container-wrapper::-webkit-scrollbar-button {
   display: block;
    height: 30px;
} */




.contact-container-wrapper::-webkit-scrollbar-button:start {
    display: flex;
    justify-content: center;
    background-image: url(../assets/icons/scroll-up-arrow.svg);
    background-repeat: no-repeat;
    /* object-fit: contain; */
    background-position: center 20px;
    height: 77px;
}

.contact-container-wrapper::-webkit-scrollbar-button:end {
    display: flex;
    background-image: url(../assets/icons/scroll-down-arrow.svg);
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center 57px;
    height: 77px;
}


/* DETAILS FOR FULL CONTACT */

.floating-contact-container {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.floating-contact-header {
    display: flex;
    gap: 54px;
}

.floating-initials-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: orange;
    border-radius: 50%;
}

.floating-initials {
    font-size: 47px;
    font-weight: 500;
    color: white;

}

.floating-initials,
.floating-full-name {
    font-size: 47px;
    font-weight: 500;
}

.floating-name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.floating-edit-delete-wrapper {
    display: flex;
    gap: 16px;
    height: 24px;
}

.floating-edit-delete-wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-edit-delete-wrapper svg {
    margin-right: 13px;
}

.floating-edit-wrapper:hover > div,
.floating-delete-wrapper:hover > div {
    color: var(--light-blue);
    cursor: pointer;
    font-weight: 700;
}

.floating-edit-wrapper:hover > div > svg *,
.floating-delete-wrapper:hover > div > svg * {
    fill: var(--light-blue);
}



.contact-info {
    font-size: 20px;
    margin-top: 27px;
    margin-bottom: 27px;
}


.floating-mail-phone-wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.floating-mail-phone {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.color-blue-mail {
    color: var(--email-color);
}

.floating-mail-phone-header {
    font-weight: 700;
}

