@media (max-height: 1000px) {


  .task-overlay-container {
    overflow-y: auto;
    border: solid var(--main-background) 40px;
    padding: 0 !important;
  }

  .add-task-overlay {
    height: 95vh;
    overflow: hidden;
  }
}

@media (max-height: 900px) {
  @keyframes main-logo {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 122px;
    }
    40% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 122px;
    }
    100% {
      top: 20px;
      left: 20px;
      transform: translate(0%, 0%);
      width: 64px;
      height: 78px;
    }
  }

  .form-container {
    margin: 0;
    padding: 16px;
  }

  .sign-up-form {
    gap: 16px;
  }

  .task-card {
    gap: 6px;
  }

  .task-card * {
    font-size: 12px;
  }

  .main-content-summary {
    padding: 8px;
  }

  .main-content-board {
    padding: 8px;
  }

  .add-task-footer {
    left: 8px;
    bottom: 20px;
    right: 8px;
  }

  .add-task-footer-overlay {
    left: 40px;
    right: 40px;
  }

  .main-content-addtask {
    padding: 8px;
  }

  .floating-contact-container-wrapper {
    padding: 8px;
  }

  .main-content-header-summary-mobile {
    margin-bottom: 10px;
  }

  .summary-wrapper {
    gap: 8px;
  }

  .main-content-header-summary {
    margin-bottom: 20px;
  }

  .main-content-header-summary-mobile {
    margin-bottom: 10px;
  }

  .main-content-header-summary-mobile {
    margin-bottom: 10px;
  }

  .form-container {
    margin: 0;
    padding: 16px;
  }

  .sign-up-form {
    gap: 16px;
  }

  .summary-wrapper {
    gap: 8px;
  }

  .main-content-header-summary {
    margin-bottom: 20px;
  }

  .main-content-header-summary-mobile,
  .board-header-hide-desktop,
  .add-task-header {
    margin-bottom: 20px;
  }

  .main-content-header-summary {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 60px;
  }

  .line-summary-desktop {
    display: none;
  }

  .line-summary-mobile {
    display: block;
    height: 3px;
    width: 50px;
  }

  .bottom-top-summary,
  .bottom-middle-summary,
  .bottom-end-summary {
    width: 90%;
  }

  .summary-wrapper {
    gap: 20px;
  }

  .summary-wrapper h2 {
    font-size: 47px;
    font-weight: 600;
  }

  .text-summary,
  .deadline-summary,
  .end-text-summary {
    font-size: 14px;
  }

  .date-summary {
    font-size: 16px;
    font-weight: 700;
  }

  .to-do-summary,
  .done-summary,
  .urgent-summary,
  .bottom-end-left-box-summary,
  .bottom-end-middle-box-summary,
  .bottom-end-right-box-summary {
    border-radius: 20px;
    gap: 10px;
    height: 110px;
  }

  .content-summary {
    gap: 0;
  }

  .bottom-board-tasks {
    max-height: calc(100dvh - 360px);
  }

  .to-do-summary svg,
  .done-summary svg {
    width: 40px;
    height: 40px;
  }

  .dropdown-tasks-menu div {
    height: 30px;
  }

  .info-input-field-container-right {
    height: 55vh;
    overflow-y: auto !important;
  }

}

@media (max-width: 1024px) and (max-height: 900px) {

}

@media (max-height: 750px) {
  .contact-created-button {
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    margin-top: 0;
    transform: translate(-50%, 100vh);
    text-align: center;
  }

  .contact-created-button-show {
    transform: translate(-50%, -50%);
  }

  .info-input-field-container-left {
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .close-icon-contact-mobile-overlay {
    transform: translate(0, -78px);
  }

  .join-logo-navbar {
    margin: 40px 66px 40px;
  }

  .navbar-link-container {
    padding-top: 12px;
  }

  .sign-up-join-logo {
    left: 33px;
    top: 33px;
  }

  .main-content-header-summary {
    margin-bottom: 20px;
  }

  .sign-up-join-logo {
    height: 50px;
    width: 42px;
    top: 16px;
    left: 16px;
  }

  .login-policy-legal {
    padding: 12px 0;
  }

  .header-contacts-floatin-mobile,
  .add-task-header {
    padding: 0;
  }

  .main-content-summary {
    padding: 8px;
  }

  .main-header {
    padding: 0;
  }

  .add-contact-overlay-content-left {
    padding: 16px 16px 66px;
  }

  .add-contact-overlay-content-right {
    padding: 66px 16px 16px;
  }
}

@media (max-height: 690px) {
  .add-contact-overlay-content-left {
    height: 300px;
  }

  .add-contact-overlay-img-wrapper {
    top: 300px;
  }

  .close-icon-contact-mobile-overlay {
    transform: translate(0, -48px);
  }
}

@media screen and (orientation: landscape) and (max-width: 2000px) and (max-height: 650px) {
  .landscape-overlay {
    display: flex;
  }
}

@media schree and (max-width: 768px) and (max-height: 856px) {
  .add-contact-overlay-content-left {
    height: 300px;
  }

  .add-contact-overlay-img-wrapper {
    top: 300px;
  }
}

@media (max-height: 680px) {
  .summary-wrapper {
    gap: 8px;
  }
}

@media (max-height: 650px) {
  .add-contact-overlay,
  .edit-contact-overlay,
  .main-container {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
