


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-background);
}

.login-logo {
    position: absolute;
    top: 66px;
    left: 66px;
}

.login-header {
    display: flex;
    justify-content: flex-end;
    padding: 66px 120px;
    gap: 40px;
}

.login-header span {
    display: inline-flex;
    align-items: center;    
}

.login-policy-legal {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 66px;
}

.login-policy-legal a:hover {
    color: var(--light-blue);
    cursor: pointer;
}

.form-header {
    font-size: 60px;
    font-weight: 700;
}

.login-separator {
    width: 40%;
    height: 3px;
    background-color: var(--light-blue);
    margin: 20px;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 48px 115px;
    border-radius: 30px;
}

.login-button-container {
    height: 48px;
    width: 322px;
    display: flex;
    gap: 35px;
}

.input-field-container {
    position: relative;
    margin-bottom: 32px;
}

.login-input-field {
    border: 1px solid var(--input-field-grey);
    border-radius: 10px;
    padding: 12px 21px;
    font-size: 24px;
}

.input-logo {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translateY(-50%);
}