


body {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 1920px;
}

.main-container {
    height: 100dvh;
}

.navbar-container {
    box-sizing: border-box;
    background-color: var(--navbar-bg-color);
    width: 232px;
    color: var(--linkbar-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 66px;
}

.navbar-link-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}


.navbar-link-container a{
    width: 232px;
    height: 46px;
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-family: inter;
    color: var(--linkbar-color);
}

.empty-space {
    width: 56px;
}

.navbar-link-container div{
    color: var(--linkbar-color);
}

.navba-logo {
    width: 30px;
    height: 30px;
    align-self: center;
}

.logo-navbar {
    width: 100px;
    height: 122px;
    padding: 66px;
}

.center {
    align-self: center;
}