
.body {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 1920px;
}

.main-container {
    height: 100vh;
    /* width: auto; */
}

.navbar {
    background-color: var(--navbar-bg-color);
    width: 232px;
    color: var(--linkbar-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: var(--linkbar-color);
}

.logo-navbar {
    width: 100px;
    height: 122px;
}