.summary {
  padding-top: 50px;
}

.summary-body {
  position: relative;
  z-index: 2000;
}

.summary-main-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main-content-summary {
  padding: 80px 0 80px 80px;
  position: relative;
}

.summary-content-header {
    display: flex;
    align-items: center;
    gap: 25px;
    height: 120px;
    margin-bottom: 20px;
}

.main-content-header-summary {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0 0 40px 0;
}

.line-summary-mobile {
  display: none;
}

.summary-header-text {
  font-size: 27px;
}

.summary-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bottom-summary {
  display: flex;
  gap: 20px;
}

.bottom-top-summary {
  display: flex;
  gap: 32px;
}

.to-do-summary:hover {
  transform-origin: left center;
  transform: scale(1.07);
  background-color: var(--join-dark);
  box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.46);
  cursor: pointer;
}

.to-do-summary:hover .to-do-path-summary {
  fill: var(--join-dark);
}

.to-do-summary img {
  width: 69px;
  height: 69px;
}

.content-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.quantity-summary {
  font-size: 64px;
  font-weight: 600;
}

.text-summary {
  font-size: 20px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}


.done-summary,
.to-do-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 264px;
  height: 168px;
  border-radius: 30px;
  border: 3px solid var(--summary-border);
  background-color: white;
  transition: transform 0.2s ease;
}


.done-summary {
  transform-origin: right center;
}

.done-summary:hover {
  transform: scale(1.07);
  background-color: var(--join-dark);
  box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.46);
  cursor: pointer;
}

.done-summary:hover .done-circle-summary,
.to-do-summary:hover .to-do-circle-summary {
  fill: white;
}

.done-summary:hover .done-path-summary {
  stroke: var(--join-dark);
}

.done-summary:hover .quantity-summary,
.done-summary:hover .text-summary,
.to-do-summary:hover .quantity-summary,
.to-do-summary:hover .text-summary {
  color: white;
}

.bottom-middle-summary {
  display: flex;
  align-items: center;
  gap: 80px;
}

.urgent-summary {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 168px;
  border-radius: 30px;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: white;
  border: 3px solid #0000001a;
  transform-origin: left top;
  transition: transform 0.2s ease;
}

.urgent-left-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.urgent-line-summary {
  background-color: var(--summary-border);
  width: 2px;
  height: 102.02px;
}

.urgent-summary:hover {
  transform: scale(1.02);
  background-color: var(--join-dark);
  box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.46);
  cursor: pointer;
}

.urgent-summary:hover .quantity-summary {
  color: white;
}

.urgent-summary:hover .text-summary {
  color: white;
}

.urgent-summary:hover .urgent-line-summary {
  background-color: white;
}

.urgent-summary:hover .date-summary {
  color: white;
}
.urgent-summary:hover .deadline-summary {
  color: white;
}

.date-summary {
  font-size: 21px;
  font-weight: 700;
  color: var(--join-dark);
  margin-block-start: 0;
  margin-block-end: 0;
}

.deadline-summary {
  font-size: 16px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

.welcome-summary {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.welcome-text-summary {
  font-size: 67px;
  font-weight: 500;
  color: var(--join-dark);
  margin-block-start: 0;
  margin-block-end: 0;
}

.welcome-name-summary {
  font-size: 84px;
  font-weight: 700;
  color: var(--light-blue);
  margin-block-start: 0;
  margin-block-end: 0;
}

.bottom-end-summary {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.bottom-end-right-box-summary {
  transform-origin: right center;
}

.bottom-end-left-box-summary {
transform-origin: left center;
}

.bottom-end-right-box-summary,
.bottom-end-middle-box-summary,
.bottom-end-left-box-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  width: 168px;
  height: 168px;
  border-radius: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  border: 3px solid #0000001a;
  transition: transform 0.2s ease;
}

.bottom-end-left-box-summary:hover {
  transform: scale(1.07);
  background-color: var(--join-dark);
  box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.46);
  cursor: pointer;
}

.bottom-end-left-box-summary:hover .end-quantity-summary,
.bottom-end-left-box-summary:hover .end-text-summary,.bottom-end-middle-box-summary:hover .end-text-summary,
.bottom-end-middle-box-summary:hover .end-quantity-summary,
.bottom-end-right-box-summary:hover .end-quantity-summary,
.bottom-end-right-box-summary:hover .end-text-summary {
  color: white;
}

.bottom-end-middle-box-summary:hover,
.bottom-end-right-box-summary:hover {
  transform: scale(1.07);
  background-color: var(--join-dark);
  box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.46);
  cursor: pointer;
}

.end-quantity-summary {
  font-size: 64px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
}

.end-text-summary {
  font-size: 20px;
  font-weight: 400;
  text-wrap: wrap;
  text-align: center;
  width: 80px;
  margin-block-start: 0;
  margin-block-end: 0;
}


.summary-greeting-animation {
  animation-name: greeting;
  animation-duration: 3000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes greeting {
  0% {filter: opacity(100%);}
  50% {filter: opacity(100%);}
  100% {filter: opacity(0%);}
}

.greeting-overlay {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--main-background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.greeting-overlay {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.greeting-text {
  font-size: 36px;
  color: var(--join-dark);
}

.greeting-name {
  font-size: 47px;
  font-weight: 700;
  color: var(--light-blue);
}

@media (max-width: 1350px) {
  
    .welcome-text-summary {
      font-size: 47px;
    }

    .welcome-name-summary {
      font-size: 61px;
    }

    
  }